@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    --brancoPrincipal: #FFFFFF;
    --cinzaSecundario: #C0C0C0;
    --botaoAzul: #167BF7;
    --background: #00030C;
    --font:'Inter', sans-serif;
}
/*Geral*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background);
    color: var(--brancoPrincipal);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
}
/*Home*/
.principal{
    background-image:url(/images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container-caixa{
    margin: 0 6em;
}
.container-img{
    margin: 1em 0 2em 0;   
}
.container-botao{
    background-color: var(--botaoAzul);
    color: var(--brancoPrincipal);
    border-radius: .5em;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-bottom: 1em;
}
.botao-secundario{
    background-color: transparent;
    border: 2px solid var(--brancoPrincipal);
}
.container-aviso{
    font-size: 12px;
    color: var(--cinzaSecundario);
}
.container-titulo{
    font-size: 28px;
    font-weight: 700;
}
/*Plataformas*/
.secundario-imagem{
    width: 80%;
}
.secundario{
    align-items: center;
    margin: 0 18em;
}