@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    --brancoPrincipal: #FFFFFF;
    --cinzaSecundario: #C0C0C0;
    --botaoAzul: #167BF7;
    --background: #00030C;
    --font:'Inter', sans-serif;
    --botao-azul-efeito: #5ea6ff;
}
/*Geral*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background);
    color: var(--brancoPrincipal);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
}
/*Home*/
.principal{
    background-image:url(../images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container-caixa{
    margin: 0 6em;
}
.container-img{
    margin: 1em 0 2em 0;   
}
.container-botao{
    background-color: var(--botaoAzul);
    color: var(--brancoPrincipal);
    border-radius: .5em;
    padding: 1em;
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}
.container-botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--background);
    transition: background 1.5s;
}
.botao-secundario:hover{
    background-color: var(--cinzaSecundario);
    color: var(--background);
    border: var(--cinzaSecundario);
    transition: background 1.5s;
}
.botao-secundario{
    background-color: transparent;
    border: 2px solid var(--brancoPrincipal);
}
.container-aviso{
    font-size: 12px;
    color: var(--cinzaSecundario);
}
.container-titulo{
    font-size: 28px;
    font-weight: 700;
}
/*Plataformas*/
.secundario-imagem{
    width: 80%;
}
.secundario{
    align-items: center;
    margin: 0 18em;
}
.descricao-titulo{
    font-size: 48px;
    font-weight: 700;
    color: var(--brancoPrincipal);
    margin-bottom: .1em;
}
.descricao-texto{
    color: var(--cinzaSecundario);
}
.container-descricao{
    padding: 2em;
}
.btn-assine{
    display: inline-block;
    margin-top: 1em;
}
/*Dispositivos*/
.dispositivos{
    text-align: center;
}
.dispositivos-titulo{
    font-size: 48px;
    font-weight: 700;
    color: var(--brancoPrincipal);
}
.dispositivos-lista{
    display: flex;
    justify-content: center;
    list-style: none; 
    margin: 5em 0;
    
}
.lista-item{
    font-size: 32px;
    font-weight: 700;
    color: var(--brancoPrincipal);
}
/*Rodapé*/
.foo{
    text-align: center;
    margin: 5em 3em;
}
.foo_lista{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.foo_lista_link a{
    text-decoration: none;
    color: var(--brancoPrincipal);
    margin-left: 1em;
}
.foo_lista_link a:hover{
    color: var(--botaoAzul);
}
.foo_lista_link a:active{
    color: #800080;
}
.foo_texto{
    margin: 1em 0;
    color: var(--cinzaSecundario);
    font-size: 14px;
}